@tailwind base;
@tailwind components;
@tailwind utilities;
$optionDefaultColours: #ed5565, #fc6e51, #ffce54, #2ecc71, #5d9cec, #ac92ec;

@layer utilities {
   /* Chrome, Safari and Opera */
   .no-scrollbar::-webkit-scrollbar {
      display: none;
   }

   .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
   }
}

@supports (-webkit-touch-callout: none) {
   .h-screen {
      height: -webkit-fill-available;
   }
}

/* Global styles */
* {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

html {
   -webkit-tap-highlight-color: transparent;
   scroll-behavior: smooth;
   height: 100vh;
}

body {
   position: relative;
   width: 100%;
   color: #444444;
   font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Ubuntu,
      "Helvetica Neue",
      sans-serif;
   background-color: #fafafa;
}

td,
th {
   padding: 4px 8px 4px 4px;
   text-align: left;
}

th {
   font-weight: 600;
}
.blur {
   backdrop-filter: blur(5px); /* blur effect to the backdrop */
   background-color: rgba(255, 255, 255, 0.2);
   font-size: 30px;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   background-color: transparent;
}

::-webkit-scrollbar {
   width: 6px;
   background-color: transparent;
}

::-webkit-scrollbar-thumb {
   background-color: #000000;
}

.alert > .start-icon {
   margin-right: 0;
   min-width: 20px;
   text-align: center;
}

.alert > .start-icon {
   margin-right: 5px;
}

.greencross {
   font-size: 18px;
   color: #25ff0b;
   text-shadow: none;
}

.alert-simple.alert-success {
   border: 1px solid rgba(36, 241, 6, 0.46);
   background-color: rgba(7, 149, 66, 0.12156862745098039);
   box-shadow: 0px 0px 2px #259c08;
   color: #0ad406;
   text-shadow: 2px 1px #00040a;
   transition: 0.5s;
   cursor: pointer;
}
.alert-success:hover {
   background-color: rgba(7, 149, 66, 0.35);
   transition: 0.5s;
}
.alert-simple.alert-info {
   border: 1px solid rgba(6, 44, 241, 0.46);
   background-color: rgba(7, 73, 149, 0.12156862745098039);
   box-shadow: 0px 0px 2px #0396ff;
   color: #0396ff;
   text-shadow: 2px 1px #00040a;
   transition: 0.5s;
   cursor: pointer;
}

.alert-info:hover {
   background-color: rgba(7, 73, 149, 0.35);
   transition: 0.5s;
}


.costum-slider {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   overflow: hidden;

   font-family: "Roboto", sans-serif;
   transition: 0.25s;
   // @include dark {
   //    background: #232223;
   //    color: white;
   // }
   .credit {
      position: absolute;
      bottom: 20px;
      left: 20px;

      color: inherit;
   }

   .options {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      overflow: hidden;

      min-width: 900px;
      // max-width: 900px;
      width: calc(100% - 100px);

      height: 400px;

      @for $i from 1 through 4 {
         @media screen and (max-width: 798px - $i*80) {
            min-width: 600px - $i * 80;
            .option:nth-child(#{6-$i}) {
               display: none;
            }
         }
      }

      .option {
         position: relative;
         overflow: hidden;

         min-width: 60px;
         margin: 10px;
         //border:0px solid --defaultColor;

         background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
         background-size: auto 120%;
         background-position: center;

         cursor: pointer;

         transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

         @for $i from 1 through length($optionDefaultColours) {
            &:nth-child(#{$i}) {
               // --defaultBackground: #{nth($optionDefaultColours, $i)};
            }
         }
         &.active {
            flex-grow: 10000;
            transform: scale(1);

            max-width: 600px;
            margin: 0px;
            border-radius: 40px;

            background-size: auto 100%;
            .shadow {
               box-shadow:
                  inset 0 -120px 120px -120px black,
                  inset 0 -120px 120px -100px black;
            }
            .label {
               bottom: 20px;
               left: 20px;
               .info > div {
                  left: 0px;
                  opacity: 1;
               }
            }
            /*&:active {
           transform:scale(0.9);
        }*/
         }
         &:not(.active) {
            flex-grow: 1;

            border-radius: 30px;
            .shadow {
               bottom: -40px;
               box-shadow:
                  inset 0 -120px 0px -120px black,
                  inset 0 -120px 0px -100px black;
            }
            .label {
               bottom: 10px;
               left: 10px;
               .info > div {
                  left: 20px;
                  opacity: 0;
               }
            }
         }
         .shadow {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;

            height: 120px;

            transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
         }
         .label {
            display: flex;
            position: absolute;
            right: 0px;

            height: 40px;
            transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
            .icon {
               display: flex;
               flex-direction: row;
               justify-content: center;
               align-items: center;

               min-width: 40px;
               max-width: 40px;
               height: 40px;
               border-radius: 100%;

               background-color: white;
               color: var(--defaultBackground);
            }
            .info {
               display: flex;
               flex-direction: column;
               justify-content: center;

               margin-left: 10px;

               color: white;

               white-space: pre;
               > div {
                  position: relative;

                  transition:
                     0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95),
                     opacity 0.5s ease-out;
               }
               .main {
                  font-weight: bold;
                  font-size: 1.2rem;
               }
               .sub {
                  transition-delay: 0.1s;
               }
            }
         }
      }
   }
}
